<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
        <rewrite>
            <rules>
              <rule name="weddingrewrite" stopProcessing="true">
                  <match url="^invitacion/([_0-9a-z-]+)$" />
                  <action type="Rewrite" url="invitacion/index.php?user_id={R:1}" appendQueryString="false" />
              </rule>
            </rules>
        </rewrite>
        
        <!--<security>
          <ipSecurity allowUnlisted="false">              
            <clear/>
              <add ipAddress="127.0.0.1" allowed="true"/>
              <add ipAddress="13.68.25.105" allowed="true"/>
              <add ipAddress="13.68.25.137" allowed="true"/>
              <add ipAddress="13.68.26.70" allowed="true"/>
              <add ipAddress="13.68.30.93" allowed="true"/>
              <add ipAddress="181.135.80.48" allowed="true"/>
              <add ipAddress="181.143.92.178" allowed="true"/>
              <add ipAddress="190.249.38.32" allowed="true"/>
              <add ipAddress="201.233.208.13" allowed="true"/>
              <add ipAddress="45.35.0.9" allowed="true"/>
              <add ipAddress="45.35.12.100" allowed="true"/>          
          </ipSecurity>
        </security>-->
        
    </system.webServer>
</configuration>
